.cabecalho {
    background-color: rgba(154, 121, 245, 0.333);
    color: rgb(167, 130, 235);
    display:flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
* {
   margin: 0;
   padding: 0;
}
.escola-imagem{
    width: 40%;
}
.escola {
    background-image: linear-gradient(#e69bf5,#e5bcf8);
    color: rgb(78, 26, 78);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-conteudo{
        width: 35%;

}
.escola-titulo {
    padding: 24px 0;
}
